body {
  height: 100%;
}

.productContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.productImage {
  width: 25vw;
}
