body {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  margin: 0;
}

.divider {
  border-top: 1px solid #d8d8d8;
  width: 100%;
}

.cardBtn {
  background-color: rgb(12, 168, 74);
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  color: white;
  display: none;
  font-size: 1.2rem;
  padding: 15px 40px;
  position: absolute;
  top: 35%;
}

.cardBtn:hover {
  background-color: rgb(9, 108, 48);
  box-shadow: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.cartSign {
  background-color: rgb(255, 77, 0);
  border-radius: 45px;
  color: white;
  display: none;
  font-weight: 500;
  left: -25px;
  padding: 20px;
  position: absolute;
  top: -25px;
}

.inactiveStar {
  opacity: 0.5;
}

.productCard {
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  position: relative;
}

.productCard:hover > .productImage {
  opacity: 0.5;
  transition: 0.5s linear;
}

.productCard:hover > .cardBtn {
  display: inline;
  z-index: 99;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.productImage {
  width: 25vw;
}

.productPrice {
  color: rgb(126, 126, 126);
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.productTitle {
  color: rgb(72, 71, 71);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.ratingContainer {
  display: flex;
}

/* Responsive Styles Tablet */

@media screen and (max-width: 1024px) {
  .cardBtn {
    font-size: 1rem;
    padding: 15px 30px;
    top: 25%;
  }
  .cartSign {
    border-radius: 45px;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    left: -20px;
    padding: 10px;
    position: absolute;
    top: -20px;
  }
  .productContainer {
    padding: 10px;
  }
  .productImage {
    width: 20vw;
  }
}

/* Responsive Styles Mobile*/

@media screen and (max-width: 768px) {
  .cardBtn {
    font-size: 1rem;
    padding: 20px 30px;
    top: 25%;
  }
  .productContainer {
    padding: 30px;
  }
  .productImage {
    width: 60vw;
  }
}
