body {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  margin: 0;
}

.divider {
  border-top: 1px solid #d8d8d8;
  width: 100%;
}

.productCard {
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
}

.productCard:hover > .productImage {
  opacity: 0.5;
  transition: 0.5s linear;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.productImage {
  width: 25vw;
}

.productPrice {
  color: rgb(126, 126, 126);
  font-size: 1.2rem;
  margin-top: 10px;
}

.productTitle {
  text-transform: capitalize;
  color: rgb(72, 71, 71);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0px;
}
